Options -Multiviews

RewriteEngine On 

RewriteRule ^short/(.*)$ index.php?url=short&post=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [L]